:root {
  /* Colors */
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color: #f4f4f4;
  --accent1: #FD7E14;
  --bg1: #1a1a1a;
  --bg2: #2a2a2a;
  --bg3: #3a3a3a;
  --bg4: #4a4a4a;
  --bgInv: #fafafa;
  --bgTrans1: #3a3a3a80;
  --bgTrans2: #1a1a1aa0;
  --font1: #fff;
  --font2: #888;
  --font3: #333;
  --shadow1: #000000;
  --gradient1: #2a2a2a;
  --gradient2: #4a4a4a;
}
