:root {
  /* Colors */
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color: #f4f4f4;
  --accent1: dodgerblue;
  --bg1: #FAFAFA;
  --bg2: #EAEAEA;
  --bg3: #DADADA;
  --bgInv: #1A1A1A;
  --font1: #000;
  --font2: #888;
  --font3: #ddd;
}
