:root {
  /* Colors */
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color: #f4f4f4;
  --accent1: #FD7E14;
  --bg1: #eeeeee;
  --bg2: #dadada;
  --bg3: #ffffff;
  --bg4: #dadada;
  --bgInv: #1a1a1a;
  --bgTrans1: #fafafa80;
  --bgTrans2: #eaeaeaa0;
  --font1: #000;
  --font2: #888;
  --font3: #ddd;
  --shadow1: #00000030;
  --gradient1: #eaeaea;
  --gradient2: #fafafa;
}
