:root {
  /* Colors */
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color: #f4f4f4;
  --accent1: #FD7E14;
  --bg1: #1A1A1A;
  --bg2: #222;
  --bg3: #333;
}

* {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

button, a, input, select, textarea {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

button:focus, a:focus, input:focus, select:focus, textarea:focus {
  outline: none;
}

.noselection {
  user-select: none; /* Prevents text selection */
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For older versions of Internet Explorer */
}


body {
    font-family: Arial, sans-serif;
    background-color: var(--bg1);
    margin: 0;
}

.padding20 {
	padding: 20px;
}
h1 {
    color: #ff0000;
}

p {
    color: #555;
}

.startbutton {
	padding: 20px;
	width: auto;
	display: grid;
	text-align: middle;
	border-radius: 15px;
	border-bottom: 3px solid var(--accent1);
	justify-content: center;
	background-color: var(--bg2);
	color: var(--accent1);
	font-size: 18px;
	font-weight: bold;
    letter-spacing: 2px;
}

.bingbutton {
	border-radius: 16px;
    width: 220px;
    padding: 11px 14px 11px 10px;
	height: 36px;
    opacity: .8;
    box-sizing: border-box;
    background: linear-gradient(269.66deg, #000 10.23%, rgba(0, 0, 0, .55) 79.49%);
    backdrop-filter: blur(22px);
    display: flex;
    justify-content: space-between;
    margin-right: 8px;
}



.card-section {
  display: flex;
  overflow-x: auto; /* Enables horizontal scroll */
  padding: 10px;
  gap: 20px;
  -webkit-overflow-scrolling: touch; /* Smooth scrolling for mobile */
  scrollbar-width: none;
}


.card {
  flex: 0 0 auto; /* Prevents cards from shrinking or growing */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  background-color: #3a3a3a;
  border: 1px solid #000;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  position: relative;
  padding: 10px 0px 20px 0px;
}

.card2 {
  flex: 0 0 auto; /* Prevents cards from shrinking or growing */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  font-size: 24px;
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px var(--accent1), 0 0 40px var(--accent1), 0 0 50px var(--accent1), 0 0 60px var(--accent1), 0 0 70px var(--accent1);
  background-color: var(--bg1);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  padding-bottom: 20px;
  position: sticky;
  left: 0px;
}


.card-image {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.card-content {
  padding: 10px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--accent1);
}

.card-description {
  font-size: 14px;
  color: #888;
  margin-bottom: 25px;
}

.view-button {
  width: 80%;
  display: inline-block;
  border-radius: 20px;
  padding: 8px 15px;
  background-image: linear-gradient(180deg, var(--bg2), #4a4a4a);
  background-color: var(--bg2);
  color: var(--accent1);
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  transition: background-color 0.3s;
  box-sizing: border-box;
  position: absolute;
  bottom: 10px;
}


/* Footer Menu Styles */
.footer-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  border-top: 1px solid #ddd;
  z-index: 1000; /* Make sure the footer is on top */
}

.footer-menu-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  padding: 10px;
}

.footer-menu-item {
  text-align: center;
}

.footer-menu-link {
  text-decoration: none;
  color: #1f1f1f;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.footer-menu-link svg {
  width: 24px;
  height: 24px;
  margin-bottom: 5px;
}

.footer-menu-link:hover {
  color: #007bff;
}
