* {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

button, a, input, select, textarea {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

button:focus, a:focus, input:focus, select:focus, textarea:focus {
  outline: none;
}

.noselection {
  user-select: none; /* Prevents text selection */
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For older versions of Internet Explorer */
}


body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #ff0000;
}

p {
    color: #555;
}

.startbutton {
	padding: 20px;
	width: auto;
	display: grid;
	text-align: middle;
	border-radius: 15px;
	border-bottom: 3px solid #FD7E14;
	justify-content: center;
	background-color: #2A2A2A;
	color: #FD7E14;
	font-size: 18px;
	font-weight: bold;
    letter-spacing: 2px;
}

.bingbutton {
	border-radius: 16px;
    width: 220px;
    padding: 11px 14px 11px 10px;
	height: 36px;
    opacity: .8;
    box-sizing: border-box;
    background: linear-gradient(269.66deg, #000 10.23%, rgba(0, 0, 0, .55) 79.49%);
    backdrop-filter: blur(22px);
    display: flex;
    justify-content: space-between;
    margin-right: 8px;
}



.card-section {
  display: flex;
  overflow-x: auto; /* Enables horizontal scroll */
  padding: 10px;
  gap: 20px;
  -webkit-overflow-scrolling: touch; /* Smooth scrolling for mobile */
}

.card {
  flex: 0 0 auto; /* Prevents cards from shrinking or growing */
  width: 200px;
  background-color: #1a1a1a;
  border-radius: 10px;
  box-shadow: 0 4px 8px #FD7E1480;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  position: relative;
  padding-bottom: 20px;
}

.card:hover {
  transform: scale(1.05); /* Slight zoom on hover */
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 10px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #FD7E14;
}

.card-description {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
}

.view-button {
  width: 100%;
  display: inline-block;
  padding: 8px 15px;
  background-color: #2a2a2a;
  color: #FD7E14;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  transition: background-color 0.3s;
  box-sizing: border-box;
  position: absolute;
  bottom: 0px;
}

.view-button:hover {
  background-color: #0056b3;
}

/* Mobile specific styles */
@media screen and (max-width: 768px) {
  .card-section {
    gap: 15px;
  }

  .card {
    width: 170px; /* Adjust the width of the card for better fitting */
  }

  .card-title {
    font-size: 16px; /* Adjust title size */
  }

  .card-description {
    font-size: 12px; /* Adjust description size */
  }

  .view-button {
    font-size: 12px; /* Adjust button font size */
  }
}
